@page "/courses"
@using abp_obs_project.Permissions
@using abp_obs_project.Courses
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(abp_obs_projectPermissions.Courses.Default)]
@inherits abp_obs_projectComponentBase

<h3>
    <i class="fas fa-book me-2"></i>
    @L["Courses"]
</h3>

<Card>
    <CardBody>
        <p>Course management page - Ders Yönetimi</p>
        <p>Features: List, Create, Update, Delete, Assign Teacher, Add/Remove Students</p>
    </CardBody>
</Card>
